body {
  background-color: #e2e3e2;
}
.wrapper {
  margin: 25px 240px;
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  width: 400px;
  height: 430px;
  background-color: #fff;
  border-radius: 10px/10px;
}
.left,
.right {
  position: relative;
}
.left img {
  border-radius: 10px 10px 0 0;
}
.left h1 {
  padding: 20px 20px;
  font-size: 25px;
}
.left .article {
  line-height: 150%;
  padding: 0 20px;
  /* background: linear-gradient(to bottom, #878787, #f4f4f4);
  background-clip: text;
  color: transparent; */
  font-size: 18px;
  color: #878787;
}
.left .button a {
  width: 80px;
  height: 20px;
  color: #fff;
  background-color: #4d4ce0;
  border-radius: 10px;
  position: absolute;
  bottom: 35px;
  margin: auto;
  left: 0;
  right: 0;
  border: none;
  text-decoration: none;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}
.left .pla {
  background-color: #d24944;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 20px;
  right: 30px;
  width: 45px;
  height: 15px;
  text-align: center;
  line-height: 15px;
}

.right .icon i {
  position: absolute;
  color: #fff;
  top: 20px;
  right: 30px;
}

.right .share {
  position: absolute;
  bottom: 0px;
  right: 70px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4e4de0;
}
.right .share a {
  display: block;
  text-align: center;
  line-height: 30px;
  color: #fff;
}

.right img {
  border-radius: 10px;
}
.right .info {
  width: 300px;
  height: 150px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 300px;
  left: 50px;
  padding: 15px;
  box-sizing: border-box;
}

.info span {
  margin-left: 10px;
  font-size: 12px;
  color: #818180;
}
.info h1 {
  font-size: 23px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.info .city {
  font-size: 16px;
  margin-bottom: 14px;
  color: #818180;
}

.right .price {
  font-size: 14px;
  margin-bottom: 6px;
}
