* {
  padding: 0;
  margin: 0;
}
.box {
  width: 220px;
  height: 260px;
  padding-top: 10px;
  margin: 20px auto;
  background-color: burlywood;
  text-align: center;
}
.box img {
  margin-bottom: 5px;
}
.box button {
  width: 60px;
}
