.nav-wrapper {
  background-image: url('../img/background.jpg');
  background-size: cover;
  height: 520px;
}
.nav {
  display: flex;
  align-items: center;
  position: relative;
}
.nav .menu-button {
  margin-left: 20px;
  width: 18px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.menu-button i {
  color: #fff;
}
.nav .menu-service {
  visibility: hidden;
}
.nav .menu-service:active {
  width: 360px;
  height: 100%;
  background-color: chartreuse;
  box-sizing: border-box;
  padding: 15px;
}
.nav .logo {
  margin: 0 auto;
}
