.clearfix::before,
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei,
    Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  color: #333;
  background-color: #fff;
  min-width: 1226px;
}
.boxWidth {
  width: 1226px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
