* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.bookWrapper {
  background-color: #181b50;
  margin: 0 auto;
  width: 1440px;
  height: 1450px;
  .top {
    width: 1440px;
    height: 118px;
    line-height: 118px;
    text-align: center;
    .logo {
      width: 105px;
      height: 118px;
    }
  }

  .main {
    width: 1440px;
    height: 1086px;
    background-color: #fff;
    border: 1px #fff solid;
    .step {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 464px;
      margin: 85px 488px 0px 488px;
      .step1 {
        display: flex;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: solid 1px #000;
        background-color: #181b50;
        font-size: 25px;
        color: #fff;
        align-items: center;
        justify-content: center;
      }
      .step2 {
        display: flex;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: solid 1px #000;
        background-color: #fff;
        font-size: 25px;
        color: #181b50;
        align-items: center;
        justify-content: center;
      }
      .step3 {
        display: flex;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: solid 1px #000;
        background-color: #fff;
        font-size: 25px;
        color: #181b50;
        align-items: center;
        justify-content: center;
      }
      i {
        display: flex;
        font-size: 90px;
        width: 118px;
        align-items: center;
        justify-content: center;
        color: #c7c7c7;
      }
    }
    .bookingDetails {
      margin-left: 470px;
    }
    .payment {
      margin-left: 115px;
    }
    .comfirm {
      margin-left: 145px;
    }
    h1 {
      width: 167px;
      height: 27px;
      line-height: 27px;
      text-align: center;
      margin: 75px 636.5px 0px 636.5px;
      font-size: 24px;
    }
    p {
      width: 366px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      margin: 0px 537px 20px 537px;
      font-size: 15px;
    }
  }
  .bottom {
    width: 1440px;
    height: 246px;
    margin-left: 130px;
    margin-top: 49px;
    margin-bottom: 76px;
    color: #fff;
    h1 {
      width: 164px;
      height: 38px;
      font-size: 24px;
    }
    .time {
      width: 821px;
      height: 83px;
      font-size: 14px;
      line-height: 25px;
      span {
        margin-right: 45px;
      }
    }
  }
}
